# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Misc
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
